@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&family=Sevillana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Playwrite+CU:wght@100..400&family=Sevillana&display=swap');
body {
    font-family: "Spline Sans", sans-serif;
    color: #777;
    background-color: rgb(255, 255, 255);
    line-height: 1.7;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 600;
    color: #222;
}

a {
    color: #222;
    text-decoration: none;
    transition: all 0.4s;
}
.navbar {
    background: transparent;
    position: absolute;
    width: 100%;
    z-index: 10;
    transition: background 0.3s ease-in-out;
    box-shadow: none !important;
}
.navbar-nav {
    gap: 20px;
}
.nav-item a{ 
    color: rgb(255, 255, 255);
}
a:hover {
    color: #F58d17;
}
.nav-item a:hover {
    font-size: 23px;
    
}

img {
    width: 100%;
}

section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.shadow-on-hover {
    transition: all 0.3s;
}

.shadow-on-hover:hover {
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
}

/* Btn */
.btn {
    border-radius: 0;
    padding: 14px 38px;
}

.btn-brand {
    color: #fff;
    font-weight: 500;
    border-color: #F58d17;
    background-color: #F58d17;
    border-radius: 10px;
  
    align-items: center;
}


.btn-brand:hover {
    border-color: #d37810;
    background-color: #d37810;
    color: #fff;
    transform: scale(1.1);
}
.position-relative {
    position: relative;
    
    margin-right: 50px;
}

.table-image {
    width: 80%;
    height: auto;
  
}

.anil-image {
    position: absolute;
    top: 50%;
    right: 0;
    width: 230px;
    height: 230px; /* Adjust the border color as needed */
    border-radius: 50%;
    transform: translateY(-23%) translateX(-9%);
}

.animeflex {
    display: flex;
    gap: 20px;
    flex-direction: row;
    width: 100%;
}
.bg-cover {
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}
.logo {
    border-radius: 50%;
}

/* Slider */
.slide-1 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/assets/slider1.jpg') center center / cover no-repeat;);
}
.slide-2 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/assets/1.jpg');
}
.read-button {
    background-color: #F58d17;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 10px ;
    width: 30%;
    height:70px;

}


#heroSlider h6::after,
#heroSlider h6::before {
    content: " ";
    width: 40px;
    height: 4px;
    background-color: #F58d17;
    display: inline-block;
    margin: 10px;
    vertical-align: middle;
}

.carousel-control-prev,
.carousel-control-next {
    background-color: rgba(0,0,0,0.6);
    width: 40px;
    height: 70px;
    margin: auto;
}
.carousel-inner h6 {
    color : #F58d17!important;
    font-size: 20px;
}
.carousel-inner h6::after {
    color : #F58d17!important;
  
}


/* Navbar */
.navbar-nav .nav-link.active {
    color: #F58d17;

}
.navbar-nav .nav-link {
    font-size:18px;
}

/* About */
#about .divider {
    width: 60px;
    height: 2px;
    display: block;
    background-color: #F58d17;
}

/* Intro text */
.intro-text {
    margin-bottom: 40px;
    text-align: center;
    color: #fff;
}

.intro-text p {
    max-width: 500px;
    margin: 16px auto 0 auto;
}
.intro-text h1 {
    color: #F58d17;
}
#about  p{
    color: #000000;
}
#about h1 {
    font-family:  "Lobster", sans-serif;
    color: #F58d17;
}

#about .experiences {
    display: flex;
    gap: 170px; /* Adjust the gap between the experience divs as needed */
}

#about .experience {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#about .experience .line {
    width: 5px;
    height: 60px;
    background-color: #F58d17;
    margin-right: 20px;
}

#about .experience .content {
    display: flex;
    align-items: center;
}

#about .experience .content .number {
    font-size: 48px;
    font-weight: bold;
    margin-right: 10px;
    color: #F58d17;
}
.experience .number {
    transition: transform 0.3s ease-in-out;
    
}

.experience:hover .number {
    transform: scale(1.2);
}

#about .experience .content .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.justify-content-center {
    justify-content: center;
    margin-top: 105px;
    align-items: center;
}
/* Initial state for .experience elements */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.experience {
    animation: fadeInUp 1s ease-in-out;
    animation-delay: 0.5s;
    animation-fill-mode: both;
    color: #000000;
}

.experience:nth-child(2) {
    animation-delay: 1s;
 
}
/* Menu */
#menu .nav-pills .nav-link {
    background-color: #fff;
    margin-left: 8px;
    margin-right: 8px;
    color: #222;
    border-radius: 100px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
}

#menu .nav-pills .nav-link.active {
    background-color: #F58d17;
    color: #ffffff;
} 

.menu-item .stars {
    color: #F58d17;
}

.brands {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
    padding: 20px;
    background-color: #ffffff;
  }
  .brand {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 100px;
   
    border-radius: 8px;
    background-color: transparent;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
  }
  .brand:hover {
    transform: scale(1.2);
  }
  .brand img {
    max-width: 100%;
    max-height: 80px;
  }
  @media (max-width: 768px) {
    .brand {
        flex: 1 1 100px; /* Adjust the base size of the brand items for smaller screens */
        max-width: 150px; /* Adjust the maximum width of the brand items for smaller screens */
    }

    .brand img {
        max-width: 80px; /* Adjust the maximum width of the images for smaller screens */
    }
}

@media (max-width: 480px) {
    .brand {
        flex: 1 1 80px; /* Adjust the base size of the brand items for very small screens */
        max-width: 120px; /* Adjust the maximum width of the brand items for very small screens */
    }

    .brand img {
        max-width: 60px; /* Adjust the maximum width of the images for very small screens */
    }
}
/* Features */
#features {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/assets/3.jpg);
}

.feature {
    border: 2px solid rgba(255, 255, 255, 0.2);
}

.feature .feature-icon {
    width: 80px;
    height: 80px;
    background-color: #F58d17;
    color: #fff;
    font-size: 28px;
    display: inline-grid;
    align-content: center;
    text-align: center;
}

/* Team */
.team-member img {
    max-width: 140px;
    
    border-radius: 100px;
}

/* Reviews */
#reviews {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/assets/2.jpg);
}
.review img {
    width: 75px;
    height: 75px;
    object-fit: cover;
}

.review .quote-icon {
    font-size: 74px;
    color: #F58d17;
    line-height: 1;
}

.review .stars {
    color: #F58d17;
}

#reviews .carousel-indicators {
    margin-bottom: -3rem;
}

/* reservation */
#reservation .form-control {
    border-radius: 0;
}

#reservation .form-control:focus {
    box-shadow: none;
    border-color: #F58d17;
}

#reservation input.form-control {
    height: 47px;
}

/* Insta Posts */
.insta-post {
    position: relative;
    overflow: hidden;
}

.insta-post .insta-btn {
    width: 90px;
    height: 90px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 26px;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.insta-post img {
    transition: all 0.4s;
}

.insta-post:hover img {
    transform: scale(1.2);
}

.insta-post:hover .insta-btn {
    opacity: 1;
}

/* Blog post */
.blog-post img {
    width: 40%;
    object-fit: cover;
}

@media (max-width: 768px) {
    .blog-post {
        flex-direction: column;
    }
    .blog-post img {
        width: 100%;
    }
}

/* Footer */
footer {
    background: #ffffff;
    padding-top: 30px;
    padding-bottom: 30px;
    box-shadow: 10px 10px 10px 6px #a39d9d;
}

.footer-top {
    margin-bottom: 30px;
}

footer p,
footer a{
    color: rgba(0, 0, 0, 0.75);
}

footer .social-links a {
    font-size: 24px;
    margin-right: 10px;
}

footer img {
    max-width: 175px;
}

.footer-bottom {
    padding-top: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
}

.letter {
    display: inline-block;
    opacity: 0;
    animation: fadeIn 0.2s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

  
.menu-section {
    margin-left: auto; /* Ensures it aligns to the right */
    text-align: center; /* Centers the content within the section */
}

.menu-section .btn-brand {
    transition: transform 0.3s ease;
  
}

.menu-section .btn-brand:hover {
    transform: scale(1.1);
}
  
.gif-container {
    background: url('https://getbento.imgix.net/accounts/fc65f97b5e66be9971314f77c13e05a9/media/images/wine_sonny_lg.gif?w=1000&fit=max&auto=compress,format&h=1000') center center / cover no-repeat;
    height: 100%;
    width: 70%;
    min-height: 200px; /* Adjust as needed */
}
  @keyframes moveBackground {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: -100% 0;
    }
  }
  
  .menu-items {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
  }
  
  .menu-item {
    color: white;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px 20px;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
  }
  
  .menu-item:hover {
    transform: scale(1.1);
    color: #ff0;
  }
  

.carousel-item .letter:nth-child(1) { animation-delay: 0s; }
.carousel-item .letter:nth-child(2) { animation-delay: 0.1s; }
.carousel-item .letter:nth-child(3) { animation-delay: 0.2s; }
.carousel-item .letter:nth-child(4) { animation-delay: 0.3s; }
.carousel-item .letter:nth-child(5) { animation-delay: 0.4s; }
.carousel-item .letter:nth-child(6) { animation-delay: 0.5s; }
.carousel-item .letter:nth-child(7) { animation-delay: 0.6s; }
.carousel-item .letter:nth-child(8) { animation-delay: 0.7s; }
.carousel-item .letter:nth-child(9) { animation-delay: 0.8s; }
.carousel-item .letter:nth-child(10) { animation-delay: 0.9s; }
.carousel-item .letter:nth-child(11) { animation-delay: 1s; }
.carousel-item .letter:nth-child(12) { animation-delay: 1.1s; }
.carousel-item .letter:nth-child(13) { animation-delay: 1.2s; }
.carousel-item .letter:nth-child(14) { animation-delay: 1.3s; }
.carousel-item .letter:nth-child(15) { animation-delay: 1.4s; }
.carousel-item .letter:nth-child(16) { animation-delay: 1.5s; }
.carousel-item .letter:nth-child(17) { animation-delay: 1.6s; }
.carousel-item .letter:nth-child(18) { animation-delay: 1.7s; }
.carousel-item .letter:nth-child(19) { animation-delay: 1.8s; }
.carousel-item .letter:nth-child(20) { animation-delay: 1.9s; }
.carousel-item .letter:nth-child(21) { animation-delay: 2s; }
.carousel-item .letter:nth-child(22) { animation-delay: 2.1s; }
.carousel-item .letter:nth-child(23) { animation-delay: 2.2s; }
.carousel-item .letter:nth-child(24) { animation-delay: 2.3s; }
.carousel-item .letter:nth-child(25) { animation-delay: 2.4s; }
.carousel-item .letter:nth-child(26) { animation-delay: 2.5s; }
.carousel-item .letter:nth-child(27) { animation-delay: 2.6s; }
.carousel-item .letter:nth-child(28) { animation-delay: 2.7s; }
.carousel-item .letter:nth-child(29) { animation-delay: 2.8s; }
.carousel-item .letter:nth-child(30) { animation-delay: 2.9s; }
.carousel-item .letter:nth-child(31) { animation-delay: 3s; }
.carousel-item .letter:nth-child(32) { animation-delay: 3.1s; }
.carousel-item .letter:nth-child(33) { animation-delay: 3.2s; }
.carousel-item .letter:nth-child(34) { animation-delay: 3.3s; }
.carousel-item .letter:nth-child(35) { animation-delay: 3.4s; }
.carousel-item .letter:nth-child(36) { animation-delay: 3.5s; }
.carousel-item .letter:nth-child(37) { animation-delay: 3.6s; }
.carousel-item .letter:nth-child(38) { animation-delay: 3.7s; }
.carousel-item .letter:nth-child(39) { animation-delay: 3.8s; }
.carousel-item .letter:nth-child(40) { animation-delay: 3.9s; }
.carousel-item .letter:nth-child(41) { animation-delay: 4s; }
.carousel-item .letter:nth-child(42) { animation-delay: 4.1s; }
.carousel-item .letter:nth-child(43) { animation-delay: 4.2s; }
.carousel-item .letter:nth-child(44) { animation-delay: 4.3s; }
.carousel-item .letter:nth-child(45) { animation-delay: 4.4s; }
.carousel-item .letter:nth-child(46) { animation-delay: 4.5s; }
.carousel-item .letter:nth-child(47) { animation-delay: 4.6s; }
.carousel-item .letter:nth-child(48) { animation-delay: 4.7s; }
.carousel-item .letter:nth-child(49) { animation-delay: 4.8s; }
.carousel-item .letter:nth-child(50) { animation-delay: 4.9s; }
.carousel-item .letter:nth-child(51) { animation-delay: 5s; }